<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSVSFOfTASe69xrrVBM9zS0pdQbiTdq9s</string>
	<key>GCM_SENDER_ID</key>
	<string>164063284685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jcpVs1</string>
	<key>PROJECT_ID</key>
	<string>jcp-jordan</string>
	<key>STORAGE_BUCKET</key>
	<string>jcp-jordan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164063284685:ios:4b159d629581ea9e068884</string>
</dict>
</plist>